# GroupBy

- Trabalhamos com esse termo quando queremos agrupar informações repetidas.

In [1]:
# Importando as libs
import pandas as pd

In [2]:
# Criando o nosso dicionário de dados
compras = {
    'Id': ["AA2930", "AA2930", "CC2139", "CC2139", "CC9999", "AA2930"],
    'Data': ["2019-01-01", "2019-01-30","2019-01-30",
             "2019-02-01","2019-02-20","2019-03-15"],
    'Valor': [200,100,400,150,10,25]
}

In [3]:
compras

{'Id': ['AA2930', 'AA2930', 'CC2139', 'CC2139', 'CC9999', 'AA2930'],
 'Data': ['2019-01-01',
  '2019-01-30',
  '2019-01-30',
  '2019-02-01',
  '2019-02-20',
  '2019-03-15'],
 'Valor': [200, 100, 400, 150, 10, 25]}

In [4]:
# Criando o DataFrame
compras = pd.DataFrame(
    compras,
    columns = ['Id','Data','Valor']
)

In [5]:
compras

       Id        Data  Valor
0  AA2930  2019-01-01    200
1  AA2930  2019-01-30    100
2  CC2139  2019-01-30    400
3  CC2139  2019-02-01    150
4  CC9999  2019-02-20     10
5  AA2930  2019-03-15     25

In [6]:
# Agrupar os valores repetidos pelo ID
# Efetuando a soma de todas as compras(Valor) que a pessoa fez
compras.groupby(['Id'])['Valor'].sum()

Id
AA2930    325
CC2139    550
CC9999     10
Name: Valor, dtype: int64

In [7]:
# Fazendo a média de gastos
compras.groupby(['Id'])['Valor'].mean()

Id
AA2930    108.333333
CC2139    275.000000
CC9999     10.000000
Name: Valor, dtype: float64

# Agrupamento para Valores Acima de 30

In [8]:
# Criando um novo DataFrame chamado Compras Acima 30
# Que vai receber os dados de compras > 30
comprasAcima30 = compras[compras['Valor'] > 30]

In [9]:
# Fazendo o Agrupamento
comprasAcima30.groupby(['Id'])['Valor'].sum()

Id
AA2930    300
CC2139    550
Name: Valor, dtype: int64

In [10]:
# Uma outra possibilidade é
compras[compras['Valor'] > 30].groupby(['Id'])['Valor'].sum()

Id
AA2930    300
CC2139    550
Name: Valor, dtype: int64