## Fazendo leitura de arquivos no Python 

NOTA: essa leitura é apenas para que o python reconheça os dados contidos no arquivo indicado

## Três principais formas de fazedr a leitura dos arquivos em Python

In [1]:
# Numpy

# Importando as minhas libs 

import csv # CSV é uma lib padrão do Python
import os # OS é uma lib para reconhecimento de infos do S.O. (sistema de operação)
import numpy as np # Numpy uma das principais Libs Python

In [2]:
# para saber o caminho do arquivo atual, usamos a lib OS

os.getcwd()

# Com esse comando vamos recuperar o caminho do nosso arquivo

'C:\\Users\\caiol\\OneDrive\\Documentos\\PYTHON'

In [4]:
# caminho do meu arquivo, ou simplesmente indicar qual o arquivo que queremos ler, 
# criando uma variável que vai armazenar o caminho/nome do arquivo

arquivo = r'iris.csv'

# Outra possibilidade caso eu queira utilizar um arquivo que esteja em outra pasta
# "caminho = r'/users/nomeDoUsuario/NomeDaPasta/NomeDaSubpasta/NomeDoArquivo"

In [6]:
# Efetuando a abertura e leitura do arquivo 
# 'r' significa que o arquivo é para leitura e 'f:' é uma variável de controle 
# delimiter é um caracter de delimitação, 

with open(arquivo, 'r') as f:
    reader = csv.reader(f, delimiter = ',')
    headers = next(reader) # Headers(Cabeçalho da minha "tabela/Conjunto Dados)
    data = list(reader)
    data = np.array(data)
    
# Basicamente ele cria uma boneca Russa, que armazena das informações dentro de caixas menores

In [8]:
# Imprimindo os meus cabeçalhos

print(headers)

['sepal.length', 'sepal.width', 'petal.length', 'petal.width', 'variety']

In [9]:
# Impressão da "forma" do meu conjunto de dados

print(data.shape)

# 150 linhas e 5 colunas

(150, 5)

In [10]:
# Impressão das minhas três primeiras linhas do conjunto de dados

print(data[:3])

[['5.1' '3.5' '1.4' '.2' 'Setosa']
 ['4.9' '3' '1.4' '.2' 'Setosa']
 ['4.7' '3.2' '1.3' '.2' 'Setosa']]

##  Fazendo a leitura com o Numpy e loadTXT

In [11]:
# Importando as Libs
from numpy import loadtxt

In [14]:
# Indicando ao Python o caminho/arquivo que vamos usar
arquivoNovo = r'pima-indians-diabetes.csv'

In [17]:
# Fazendo a leitura dos dados do arquivo e separando pela ","
datapath = open(arquivoNovo, 'r')
dados = loadtxt(datapath, delimiter = ',')

In [19]:
print(dados.shape)

# 168 linhas e 9 colunas

(768, 9)

## Fazendo a leitura com PANDAS

In [2]:
# Importando a Lib

from pandas import read_csv

In [3]:
# Indicando o arquivo/caminho

meuArquivo = r'iris.csv'

# Fazendo a leitura do arquivo

meusDados = read_csv(meuArquivo)

In [4]:
# Mostrando a forma(shape) dos meus dados

print(meusDados.shape)

(150, 5)

In [7]:
print(meusDados[:20])

    sepal.length  sepal.width  petal.length  petal.width variety
0            5.1          3.5           1.4          0.2  Setosa
1            4.9          3.0           1.4          0.2  Setosa
2            4.7          3.2           1.3          0.2  Setosa
3            4.6          3.1           1.5          0.2  Setosa
4            5.0          3.6           1.4          0.2  Setosa
5            5.4          3.9           1.7          0.4  Setosa
6            4.6          3.4           1.4          0.3  Setosa
7            5.0          3.4           1.5          0.2  Setosa
8            4.4          2.9           1.4          0.2  Setosa
9            4.9          3.1           1.5          0.1  Setosa
10           5.4          3.7           1.5          0.2  Setosa
11           4.8          3.4           1.6          0.2  Setosa
12           4.8          3.0           1.4          0.1  Setosa
13           4.3          3.0           1.1          0.1  Setosa
14           5.8          4.0           1.2          0.2  Setosa
15           5.7          4.4           1.5          0.4  Setosa
16           5.4          3.9           1.3          0.4  Setosa
17           5.1          3.5           1.4          0.3  Setosa
18           5.7          3.8           1.7          0.3  Setosa
19           5.1          3.8           1.5          0.3  Setosa

## EXERCÍCIO

In [14]:
from pandas import read_csv
exemplo1 = r'Arquivo-Treino.csv'
data = read_csv(exemplo1)
print(data.shape)

(614, 13)

In [18]:
print(data[:60])

     Loan_ID  Gender Married Dependents     Education Self_Employed  \
0   LP001002    Male      No          0      Graduate            No
1   LP001003    Male     Yes          1      Graduate            No
2   LP001005    Male     Yes          0      Graduate           Yes
3   LP001006    Male     Yes          0  Not Graduate            No
4   LP001008    Male      No          0      Graduate            No
5   LP001011    Male     Yes          2      Graduate           Yes
6   LP001013    Male     Yes          0  Not Graduate            No
7   LP001014    Male     Yes         3+      Graduate            No
8   LP001018    Male     Yes          2      Graduate            No
9   LP001020    Male     Yes          1      Graduate            No
10  LP001024    Male     Yes          2      Graduate            No
11  LP001027    Male     Yes          2      Graduate           NaN
12  LP001028    Male     Yes          2      Graduate            No
13  LP001029    Male      No          0      Graduate            No
14  LP001030    Male     Yes          2      Graduate            No
15  LP001032    Male      No          0      Graduate            No
16  LP001034    Male      No          1  Not Graduate            No
17  LP001036  Female      No          0      Graduate            No
18  LP001038    Male     Yes          0  Not Graduate            No
19  LP001041    Male     Yes          0      Graduate           NaN
20  LP001043    Male     Yes          0  Not Graduate            No
21  LP001046    Male     Yes          1      Graduate            No
22  LP001047    Male     Yes          0  Not Graduate            No
23  LP001050     NaN     Yes          2  Not Graduate            No
24  LP001052    Male     Yes          1      Graduate           NaN
25  LP001066    Male     Yes          0      Graduate           Yes
26  LP001068    Male     Yes          0      Graduate            No
27  LP001073    Male     Yes          2  Not Graduate            No
28  LP001086    Male      No          0  Not Graduate            No
29  LP001087  Female      No          2      Graduate           NaN
30  LP001091    Male     Yes          1      Graduate           NaN
31  LP001095    Male      No          0      Graduate            No
32  LP001097    Male      No          1      Graduate           Yes
33  LP001098    Male     Yes          0      Graduate            No
34  LP001100    Male      No         3+      Graduate            No
35  LP001106    Male     Yes          0      Graduate            No
36  LP001109    Male     Yes          0      Graduate            No
37  LP001112  Female     Yes          0      Graduate            No
38  LP001114    Male      No          0      Graduate            No
39  LP001116    Male      No          0  Not Graduate            No
40  LP001119    Male      No          0      Graduate            No
41  LP001120    Male      No          0      Graduate            No
42  LP001123    Male     Yes          0      Graduate            No
43  LP001131    Male     Yes          0      Graduate            No
44  LP001136    Male     Yes          0  Not Graduate           Yes
45  LP001137  Female      No          0      Graduate            No
46  LP001138    Male     Yes          1      Graduate            No
47  LP001144    Male     Yes          0      Graduate            No
48  LP001146  Female     Yes          0      Graduate            No
49  LP001151  Female      No          0      Graduate            No
50  LP001155  Female     Yes          0  Not Graduate            No
51  LP001157  Female      No          0      Graduate            No
52  LP001164  Female      No          0      Graduate            No
53  LP001179    Male     Yes          2      Graduate            No
54  LP001186  Female     Yes          1      Graduate           Yes
55  LP001194    Male     Yes          2      Graduate            No
56  LP001195    Male     Yes          0      Graduate            No
57  LP001197    Male     Yes          0      Graduate            No
58  LP001198    Male     Yes          1      Graduate            No
59  LP001199    Male     Yes          2  Not Graduate            No

    ApplicantIncome  CoapplicantIncome  LoanAmount  Loan_Amount_Term  \
0              5849                0.0         NaN             360.0
1              4583             1508.0       128.0             360.0
2              3000                0.0        66.0             360.0
3              2583             2358.0       120.0             360.0
4              6000                0.0       141.0             360.0
5              5417             4196.0       267.0             360.0
6              2333             1516.0        95.0             360.0
7              3036             2504.0       158.0             360.0
8              4006             1526.0       168.0             360.0
9             12841            10968.0       349.0             360.0
10             3200              700.0        70.0             360.0
11             2500             1840.0       109.0             360.0
12             3073             8106.0       200.0             360.0
13             1853             2840.0       114.0             360.0
14             1299             1086.0        17.0             120.0
15             4950                0.0       125.0             360.0
16             3596                0.0       100.0             240.0
17             3510                0.0        76.0             360.0
18             4887                0.0       133.0             360.0
19             2600             3500.0       115.0               NaN
20             7660                0.0       104.0             360.0
21             5955             5625.0       315.0             360.0
22             2600             1911.0       116.0             360.0
23             3365             1917.0       112.0             360.0
24             3717             2925.0       151.0             360.0
25             9560                0.0       191.0             360.0
26             2799             2253.0       122.0             360.0
27             4226             1040.0       110.0             360.0
28             1442                0.0        35.0             360.0
29             3750             2083.0       120.0             360.0
30             4166             3369.0       201.0             360.0
31             3167                0.0        74.0             360.0
32             4692                0.0       106.0             360.0
33             3500             1667.0       114.0             360.0
34            12500             3000.0       320.0             360.0
35             2275             2067.0         NaN             360.0
36             1828             1330.0       100.0               NaN
37             3667             1459.0       144.0             360.0
38             4166             7210.0       184.0             360.0
39             3748             1668.0       110.0             360.0
40             3600                0.0        80.0             360.0
41             1800             1213.0        47.0             360.0
42             2400                0.0        75.0             360.0
43             3941             2336.0       134.0             360.0
44             4695                0.0        96.0               NaN
45             3410                0.0        88.0               NaN
46             5649                0.0        44.0             360.0
47             5821                0.0       144.0             360.0
48             2645             3440.0       120.0             360.0
49             4000             2275.0       144.0             360.0
50             1928             1644.0       100.0             360.0
51             3086                0.0       120.0             360.0
52             4230                0.0       112.0             360.0
53             4616                0.0       134.0             360.0
54            11500                0.0       286.0             360.0
55             2708             1167.0        97.0             360.0
56             2132             1591.0        96.0             360.0
57             3366             2200.0       135.0             360.0
58             8080             2250.0       180.0             360.0
59             3357             2859.0       144.0             360.0

    Credit_History Property_Area Loan_Status
0              1.0         Urban           Y
1              1.0         Rural           N
2              1.0         Urban           Y
3              1.0         Urban           Y
4              1.0         Urban           Y
5              1.0         Urban           Y
6              1.0         Urban           Y
7              0.0     Semiurban           N
8              1.0         Urban           Y
9              1.0     Semiurban           N
10             1.0         Urban           Y
11             1.0         Urban           Y
12             1.0         Urban           Y
13             1.0         Rural           N
14             1.0         Urban           Y
15             1.0         Urban           Y
16             NaN         Urban           Y
17             0.0         Urban           N
18             1.0         Rural           N
19             1.0         Urban           Y
20             0.0         Urban           N
21             1.0         Urban           Y
22             0.0     Semiurban           N
23             0.0         Rural           N
24             NaN     Semiurban           N
25             1.0     Semiurban           Y
26             1.0     Semiurban           Y
27             1.0         Urban           Y
28             1.0         Urban           N
29             1.0     Semiurban           Y
30             NaN         Urban           N
31             1.0         Urban           N
32             1.0         Rural           N
33             1.0     Semiurban           Y
34             1.0         Rural           N
35             1.0         Urban           Y
36             0.0         Urban           N
37             1.0     Semiurban           Y
38             1.0         Urban           Y
39             1.0     Semiurban           Y
40             1.0         Urban           N
41             1.0         Urban           Y
42             NaN         Urban           Y
43             1.0     Semiurban           Y
44             1.0         Urban           Y
45             1.0         Urban           Y
46             1.0         Urban           Y
47             1.0         Urban           Y
48             0.0         Urban           N
49             1.0     Semiurban           Y
50             1.0     Semiurban           Y
51             1.0     Semiurban           Y
52             1.0     Semiurban           N
53             1.0         Urban           N
54             0.0         Urban           N
55             1.0     Semiurban           Y
56             1.0     Semiurban           Y
57             1.0         Rural           N
58             1.0         Urban           Y
59             1.0         Urban           Y