In [1]:
idade = 32 # Número Inteiro
ano = 2021 # Número Inteiro
preco = 1.99 # Número Decimal/Flutuante



# Imprimindo o valor das minhas variáveis
print(idade)
print(ano)
print(preco)

32
2021
1.99

In [1]:
nome = 'caio'
sobrenome = 'Lima'

In [5]:
print (nome) # mostrando o valor de nome e sobrenome com e sem espaço - AS EXCEL CONTAT
print(sobrenome)
print(nome, sobrenome)
print(nome + sobrenome)
print(nome + " " + sobrenome)

caio
Lima
caio Lima
caioLima
caio Lima

In [31]:
# Evitar caracteres especiasis, acentuação e números no começo, além de espaço em branco.
# Número deverá somente depois da variável, ex. telefone1

MeuNome = 'Caio Lima Sousa'
Idade = '21 Anos'
Cidade = 'São Paulo'
Profissao = 'Sales Anal.'
Telefone1 = '(11)96835-0000'

print(MeuNome, Idade, Cidade, Profissao, Telefone1)

Caio Lima Sousa 21 Anos São Paulo Sales Anal. (11)96835-0000

In [32]:
print(MeuNome, Idade, Cidade, Profissao, Telefone1)

Caio Lima Sousa 21 Anos São Paulo Sales Anal. (11)96835-0000

In [47]:
print('Olá, meu nome é ' + MeuNome)
print('Olá, meu nome é ' + MeuNome + ' e tenho ' + Idade + ' de idade!')
print('Olá, meu nome é ' + MeuNome + ', tenho ' + Idade + ' de idade!' + ' e sou de ' + Cidade + ' / TEL: ' + Telefone1 + '\n')

print( 'NOME: ' + MeuNome +'\nIDADE: ' + Idade +'\nCIDADE: ' + Cidade +'TEL: ' + Telefone1)

Olá, meu nome é Caio Lima Sousa
Olá, meu nome é Caio Lima Sousa e tenho 21 Anos de idade!
Olá, meu nome é Caio Lima Sousa, tenho 21 Anos de idade! e sou de São Paulo / TEL: (11)96835-0000

NOME: Caio Lima Sousa
IDADE: 21 Anos
CIDADE: São PauloTEL: (11)96835-0000

## Operadores aritiméticos

Trabalahndo com números e operadores

In [53]:
a = 5
b = 6

print("A soma dos valores é: ", a + b, '\n')
print("A diferença dos valores é: ", a - b, '\n')
print("A multiplicação dos valores é: ", a * b, '\n')
print("A divisão dos valores é: ", a / b, '\n')

A soma dos valores é:  11

A diferença dos valores é:  -1

A multiplicação dos valores é:  30

A divisão dos valores é:  0.8333333333333334

## DESAFIO

Valor1 Operação Valor2 = Resultado

In [65]:
# se a = 'texto' não precisamos expecificar depois, o python reconhece direto
a = 10
b = 11

print((a), '+', (b), '=', a + b)
print((a), '-', (b), '=', a - b)
print((a), '/', (b), '=', a / b)
print((a), '*', (b), '=', a * b)

10 + 11 = 21
10 - 11 = -1
10 / 11 = 0.9090909090909091
10 * 11 = 110

## Operadores Relacionais

In [69]:
10 < 11

True

In [70]:
1 > 2

False

In [71]:
10>=10

True

In [72]:
 3 != 2

True

In [74]:
3 == 3

True

In [75]:
a = 10
b = 11

a < b

True

In [76]:
nome1 = 'Caio'
nome2 = 'Caio'

nome1 == nome2

True

In [77]:
nome1 = 'Caio'
nome2 = ' Caio'

nome1 == nome2

False

In [83]:
# o Python exige que os caracteres sejam iguais, considerando também os espaços
# a condição a ser considerada será sempre a última linha
# print seleciona a condição que quero, caso não seja a última
nome1 = 'caio'
nome2 = 'Caio'

nome1 == nome2
nome1 != nome2

print(nome1 == nome2)

False

In [79]:
nome1 = 'Caio'
nome2 = ' Caio'

nome1 != nome2

True

In [81]:
nome1 = 'caio'
nome2 = 'Caio'

nome1 == nome2

False

## Operadores de atribuição

In [95]:
# São formas de atribuir valores/resultados/informação em um var

a=10
print(a)

a += 1
#a = a + 1
#a = 10 + 1
#a = 11

print(a)

a +=2
#a = 11
#a = 11 + 2
#a = 13
print(a)

a -= 5
#a =13
#a = 13 - 5
#a = 8 
print (a)

10
11
13
8

In [99]:
#exemplo 

a = 3
a = a + 7 #a = 3 + 7

print(a)

# Acrescentando valores a minha var
a += 5 #a = 10 + 5
print(a)

# Retirando valores 
a -= 3 #a = 15 - 3
print(a)

# Multiplicando valores 
a *= 2 #a 12 * 2 
print(a)

# Dividindo valores
a /= 3 #a = 24/3
print(a)

10
15
12
24
8.0

In [101]:
# EX. expoente

a = 5
b = 6

print("A soma dos valores é: ", a + b, '\n')
print("A diferença dos valores é: ", a - b, '\n')
print("A exponenciação dos valores resultou em", a ** b, '\n')
print("O resto(Módulo) da divisão dos valores resultou em", a % b, '\n')

A soma dos valores é:  11

A diferença dos valores é:  -1

A exponenciação dos valores resultou em 15625

O resto(Módulo) da divisão dos valores resultou em 5

## Fatiando textos

In [114]:
nome = 'Caio Lima Sousa'

print(nome)
nome[0]

Caio Lima Sousa

'C'

In [117]:
print(nome)
nome[:16]

Caio Lima Sousa

'Caio Lima Sousa'

In [118]:
print(nome)
nome[3:16]

Caio Lima Sousa

'o Lima Sousa'

In [119]:
print(nome)
nome[3:12]

Caio Lima Sousa

'o Lima So'

In [120]:
print(nome)
nome[3:]

Caio Lima Sousa

'o Lima Sousa'

In [121]:
print(nome)
nome[:5]

Caio Lima Sousa

'Caio '

In [122]:
print(nome)
nome[:-1]

Caio Lima Sousa

'Caio Lima Sous'

In [123]:
print(nome)
nome[-1]

Caio Lima Sousa

'a'

In [124]:
print(nome)
nome[3:-2]

Caio Lima Sousa

'o Lima Sou'

In [134]:
numeros = '1234567890'

print(numeros)
#numeros # imprimindo todos os meus valores que estão em números

numeros[2::3]

1234567890

'369'

In [133]:
numeros[::]

'1234567890'

In [135]:
numeros[::3]

'1470'

# Exemplo de gerador de senhas em python

- Informar para o meu sistema a base de caracteres 
- Pegar os caracteres de forma aleatória
- Apresentar na tela

In [137]:
caracteres = 'abcdefghijklmnopqrstuvwxyzABCDEFGHIJKLMNOPQRSTUVWXYZ0123456789!@#$%'
caracteres [::3]

'adgjmpsvyBEHKNQTWZ258@%'

### Continuando com slice

In [138]:
frase = 'Python é legal de mais'

# Quero saber se uma determinado informação está dentro da frase, ex. se tem "Py"

'Py' in frase

True

In [139]:
'py' in frase

False

In [140]:
# Verificar se NÃO possui dentro da frase 

'ing' not in frase

True

In [141]:
'Py' not in frase

False

In [142]:
# Verificar o tamanho de uma var

len(frase)

22

In [146]:
# Converter o momento da impressão para maiúsculos/minúsculos

print(frase)
frase.lower()

Python é legal de mais

'python é legal de mais'

In [144]:
frase.upper()

'PYTHON É LEGAL DE MAIS'

In [147]:
print(frase)

Python é legal de mais

In [154]:
# Convertendo o valor para Maiúsculo

fraseMaius = frase.upper()
fraseMinus = frase.lower()

print(fraseMaius, '\n')
print(fraseMinus, '\n')
print(frase, '\n')

PYTHON É LEGAL DE MAIS

python é legal de mais

Python é legal de mais

## Exercício

- EX.1.: CALCULADORA DE 3
 - Escreva um script que pegue o 3 variáveis e faça a soma de todos os valores;
 - Escreva um script que pegue o 3 variáveis e faça a subtração de todos os valores;
 - Escreva um script que pegue o 3 variáveis e faça a multiplicação de todos os valores;
 - Escreva um script que pegue o 3 variáveis e faça a divisão de todos os valores.

In [159]:
a = 14
b = 15
c = 16

print((a), '+', (b), '+', (c), '=', a + b + c)
print((a), '-', (b), '-', (c), '=', a - b - c)
print((a), '*', (b), '*', (c), '=', a * b * c)
print((a), '/', (b), '/', (c), '=', a / b / c)

14 + 15 + 16 = 45
14 - 15 - 16 = -17
14 * 15 * 16 = 3360
14 / 15 / 16 = 0.058333333333333334