# Pandas
- Lib muito utilizada para representaçãod e dados, filtragem e estatística.

1. Fazendo a leitura de um arquivo

In [9]:
import pandas as pd

In [11]:
# Fazendo a leitura do arquivo do Excel

pd.read_excel('C:\Users\caiol\OneDrive\Documentos\PYTHON\Dataset.xlsx' , 'Planilha1')

SyntaxError: (unicode error) 'unicodeescape' codec can't decode bytes in position 2-3: truncated \UXXXXXXXX escape (Temp/ipykernel_13936/3671829279.py, line 3)

In [ ]:
# Fazendo a leitura de um arquivo CSV
pd.read_csv('Quadrinhos.csv')

In [ ]:
# Fazendo a leitura de um arquivo CSV
pd.read_csv('Quadrinhos.txt')

# Criando um DataFrame

In [ ]:
# Criando o conjunto de dados do DataFrame
dadosFrame = {
    'nome': ['Barry', 'Kara', 'Clark'],
    'idade': [28, 32, 52],
    'função': ['Fotografo', 'Secretaria', 'Reporter']
}

# Colocando as infos do dadosFrame dentro do df
df = pd.DataFrame(dadosFrame)

df # Imprimindo meu DataFrame
# Outra forma de apresentar na tela seria o print(df)

In [ ]:
# Pesquisando uma info dentro do df
df.loc[df['nome'] == 'Kara']

In [ ]:
# Outra forma de retornar uma informação
df.loc[2]

In [ ]:
# Terceira forma de fazer pesquisa
df[::-1]

In [ ]:
# Criando o conjunto de dados com os números
frame_numeros = {
    'A':[1,2,3],
    'B':[4,5,6],
    'C':[7,8,9]
}

# dfNum = dfNumeros
dfNum = pd.DataFrame(frame_numeros)

dfNum # Imprimindo meu DataFrame

In [ ]:
import numpy as np # Importando o Numpy para trabalhar com números/operações

# Raiz quadrada de todos os elementos
dfNum.apply(np.sqrt)

In [ ]:
# Somar todos os valores das minhas colunas
dfNum.apply(np.sum)

In [ ]:
# Aplicando a raiz quadrada apenas para a coluna B
dfNum['B'].apply(np.sqrt)

# Reorganizando os valores

In [ ]:
nums = {
    'A': [22,11,45],
    'B': [18,23,32],
    'C': [45,56,70],
    'D': [113,14,11]
}

dfNumDois = pd.DataFrame(nums)

dfNumDois

In [ ]:
dfNumDois.sort_values(by=['A'])

In [ ]:
dfNumDois.sort_values(by=['A'], ascending=False)

# Removendo itens duplicados

In [ ]:
dadosFrame = {
    'nome': ['Barry', 'Kara', 'Clark', 'Barry'],
    'idade': [28, 32, 52, 28],
    'função': ['Fotografo', 'Secretaria', 'Reporter', 'Fotografo']
}

df = pd.DataFrame(dadosFrame)
df # Imprimindo meu DataFrame

In [ ]:
# Serve para mostrar o que está duplicado
# Saberemos qual é a duplicata, pelo resultado = True
df.duplicated()

In [ ]:
# Excluindo o dado duplicado - ela elima somente na visualização 
df.drop_duplicates()

In [ ]:
df

In [ ]:
# Consulta e exclusao por meio da coluna 'nome'
df.drop_duplicates(['nome'])

In [ ]:
# Apagando a coluna 'Função'
df.drop(['função'], axis=1) # axis = 1(Colunas) axis = 0(Linhas)

In [ ]:
df

In [ ]:
dadosFrame2 = {
    'nome': ['Barry', 'Kara', 'Clark', 'Barry','Clark', 'Barry'],
    'idade': [28, 32, 52, 29, 52, 29],
    'função': ['Fotografo', 'Secretaria', 'Reporter', 'Fotografo', 'Reporter', 'Fotografo']
}

df2 = pd.DataFrame(dadosFrame2)
df2 # Imprimindo meu DataFrame

In [ ]:
df2.duplicated()
# Verifica se todos os elementos estão repetidos
# Nesse exemplo, ele verifica todos os dados e se há repetição

In [ ]:
df2.drop_duplicates(['nome'], keep='first')
# Mantém o primeiro elemento que está duplicado

In [ ]:
df2.drop_duplicates(['nome'], keep='last')
# Mantém o último elemento que está duplicado

In [ ]:
df2

In [ ]:
df2.drop_duplicates(['nome'], keep=False)
# Mantém o elemento que não está duplicado

In [ ]:
df2.drop_duplicates(['nome'])

In [ ]:
df2.drop([0])

In [ ]:
df2.drop([3])

In [ ]:
dadosFrame = {
    'nome': ['Barry', 'Kara', 'Clark'],
    'idade': [28, 32, 52],
    'função': ['Fotografo', 'Secretaria', 'Reporter']
}

df3 = pd.DataFrame(dadosFrame, index = ['Flash', 'SuperGirl', 'SuperMan'])
df3 # Imprimindo meu DataFrame

In [ ]:
df3.drop(['Flash'])

In [ ]:
df3

In [ ]:
df3['nome'].count()

In [ ]:
df3['idade'].count()

In [ ]:
df3['função'].count()

In [ ]:
df3.count()

In [ ]:
df3[1:2]

In [ ]:
df3[-1:] # Mostrando apenas a última linha

In [ ]:
df3[:-1] # Mostrando o df3 sem a última linha