# Salvando os dados em arquivos

In [2]:
# importando as libs
import pandas as pd
import numpy as np

In [8]:
dadosFrame = {
    'nome': ['Barry', 'Kara', 'Clark'],
    'idade': [28, 32, 52],
    'função': ['Fotografo', 'Secretaria', 'Reporter']
}

df = pd.DataFrame(dadosFrame)
df

    nome  idade      função
0  Barry     28   Fotografo
1   Kara     32  Secretaria
2  Clark     52    Reporter

# Salvando em Excel

In [9]:
# Herois.xlsx é o nome para o arquivo
# Planilha1 é o nome para a planilha
df.to_excel("Herois.xlsx", "Planilha1")

# Salvando em CSV

In [10]:
df.to_csv("Meus_Herois.csv")

# Salvando em JSON

In [11]:
df.to_json("Meus_Herois_2.json")

# Salvando em HTML

In [12]:
df.to_html("MinhaPaginaHerois.html")