In [20]:
nome = 'Adriano'
sobrenome = 'Silva'

print(nome) # Mostrando o valor de Nome
print(sobrenome) # Mostrando o valor de Sobrenome
print(nome, sobrenome) # Mostrando o valor de Nome e Sobrenome
print(nome + sobrenome) # Mostrando o valor de Nome e Sobrenome
print(nome + " " + sobrenome) # Mostrando o valor de Nome e Sobrenome com espaço

Adriano
Silva
Adriano Silva
AdrianoSilva
Adriano Silva

In [28]:
meuNome = "Adriano Leite da Silva"
idade = "33 anos"
cidade = "São Paulo"
profissao = "Professor"
telefone1 = "0000000000000"

# Evitar na hora de nomear variáveis
# - Caracteres especiais
# - Acentuação
# - Numeros no começo do nome
# - Espaços em branco

In [30]:
print(meuNome, idade, cidade, profissao, telefone1)

Adriano Leite da Silva 33 anos São Paulo Professor 0000000000000

In [50]:
print("Olá, meu nome é " + meuNome)
print(" ")
print("Olá, meu nome é " + meuNome + " tenho " + idade + " de idade!")
print(" ")
print("Olá, meu nome é " + meuNome + " tenho " + idade +
      " de idade!\nNascido na cidade de " + cidade + ".")
print(" ")
print("Olá, meu nome é " + meuNome + " tenho " + idade +
      " de idade!\nNascido na cidade de " + cidade + ". Meu telefone é " + telefone1)
print(" ")
print("Olá, meu nome é " + meuNome + " tenho " + idade +
      " de idade!\nNascido na cidade de " + cidade + ". Sou " + profissao + " e meu telefone é " + telefone1)

Olá, meu nome é Adriano Leite da Silva

Olá, meu nome é Adriano Leite da Silva tenho 33 anos de idade!

Olá, meu nome é Adriano Leite da Silva tenho 33 anos de idade!
Nascido na cidade de São Paulo.

Olá, meu nome é Adriano Leite da Silva tenho 33 anos de idade!
Nascido na cidade de São Paulo. Meu telefone é 0000000000000

Olá, meu nome é Adriano Leite da Silva tenho 33 anos de idade!
Nascido na cidade de São Paulo. Sou Professor e meu telefone é 0000000000000

## Operadores Aritméticos

Trabalhando com Números e Operações

In [121]:
a = 5
b = 6

print("A soma dos valores resultou em: ", a + b)
print("A subtração dos valores resultou em: ", a - b)
print("A multiplicação dos valores resultou em: ", a * b)
print("A divisão dos valores resultou em", a / b)
print("A exponenciação dos valores resultou em", a ** b)
print("O resto(Módulo) da divisão dos valores resultou em", a % b)

A soma dos valores resultou em:  11
A subtração dos valores resultou em:  -1
A multiplicação dos valores resultou em:  30
A divisão dos valores resultou em 0.8333333333333334
A exponenciação dos valores resultou em 15625
O resto da divisão dos valores resultou em 5

## Desafio

valorUm Operação valorDois = resultado

5 + 5 = 11

In [63]:
a = "texto"
a = 10
b = 11

print(a, "+", b, "=", a + b)
print(a, "-", b, "=", a - b)
print(a, "x", b, "=", a * b)
print(a, ":", b, "=", a / b)

10 + 11 = 21
10 - 11 = -1
10 x 11 = 110
10 : 11 = 0.9090909090909091

## Operadores Relacionais

In [69]:
10 < 11 # 10 é menor que 11?

True

In [70]:
1 > 2 # 1 é maior que 2?

False

In [71]:
10 >= 10 # 10 é maior ou igual a 10?

True

In [74]:
 3 != 2 # 3 é diferente de 2?

True

In [77]:
3 == 3 # 3 é igual a 3?

True

In [88]:
a = 10
b = 11

a < b

True

In [84]:
nome = "Adriano"
nomeDois = "adriano"

nome != nomeDois

False

## Operadores de Atribuição

In [110]:
# São formas de você atribuir valores/resultados/informações em uma var
a = 10
print(a)

a += 1
# a = a + 1
# a = 10 + 1
# a = 11
print(a)

a += 2
# a = 11
# a = 11 + 2
# a = 13
print(a)

a -=5
# a = 13
# a = 13 - 5
# a = 8
print(a)

10
11
13
8

In [119]:
# Exemplo

# Forma menos usual
a = 3
a = a + 7 # a = 3 + 7
print(a)

# Acrescentando valores a minha var
a += 5 # a = 10 + 5
print(a)

# Retirando valores
a -= 3 # a = 15 -3
print(a)

# Multiplicando valores
a *= 2 # a = 12 * 2
print(a)

# Dividindo valores
a /= 3 # a = 24 / 3
print(a)

10
15
12
24
8.0

# Fatiando textos

In [124]:
nome = 'Adriano Leite da Silva'

nome[18] # Posição de nº 18

'i'

In [131]:
print(nome)
nome[3:] # Pego a partir da posição 3 e mostro todo o restante

Adriano Leite da Silva

'iano Leite da Silva'

In [132]:
print(nome)
nome[7:] # Pego a partir da posição 7 e mostro todo o restante

Adriano Leite da Silva

' Leite da Silva'

In [133]:
print(nome)
nome[:9] # Pego até a posição 9 e imprimo o que vem antes dela

Adriano Leite da Silva

'Adriano L'

In [129]:
nome[:-1] # Pego todos os valores, menos a última posição

'Adriano Leite da Silv'

In [130]:
nome[-1] # Pego apenas a última posição

'a'

In [153]:
nomeDois = "Sinfrogildo Astrogildo"
nomeDois[-1]
nomeDois[::] # nomeDois[::] = nomeDois
print(nomeDois)
nomeDois[::4]

Sinfrogildo Astrogildo

'SrlAod'

In [149]:
numeros = '0123456789'

print(numeros)
# numeros # Imprimindo todos os meus valores que estao em numeros
numeros[::] # numeros[::] = numeros

0123456789

'0123456789'

In [147]:
# Mostrando apenas os valores pares
numeros[::2]

'02468'

In [143]:
# Apenas os números ímpares
numeros[1::2]

'13579'

# Exemplo Gerador de Senhas em Python

- Informar para o meu sistema a base de caracteres
- Pegar os caracteres de forma
- Apresentar na tela

## FORMA MAIS PORCA DE SE FAZER UM GERADOR DE SENHAS

In [156]:
caracteres = "abcdefghijklmnopqrstuvxyzABCDEFGHIJKLMNOPQRSTUVXYZ0123456789@#$%"
caracteres[::3]

'adgjmpsvzCFILORUY147@%'

### Continuando com o Slice

In [160]:
frase = "Python é legal demais!"

# Quero saber se uma determinada info está dentro da frase
# Quero saber se temos py
'py'in frase # Retorna false, pois é Maiúsculo
'Py'in frase

# Verificando se eu NÃO POSSUI dentro da frase
'é' not in frase

False

In [161]:
# Verificando o tamanha de uma var
len(frase)

22

In [169]:
# Convertendo no momento da impressão para Maiúsculos/Minúsculos
print(frase)
frase.lower()

Python é legal demais!

'python é legal demais!'

In [167]:
print(frase)
frase.upper()

Python é legal demais!

'PYTHON É LEGAL DEMAIS!'

In [174]:
print(frase)

Python é legal demais!

In [175]:
# Convertendo o valor para Maiusculo
fraseMaius = frase.upper()

# Convertendo o valor para Minusculo
fraseMinus = frase.lower()

In [176]:
print(fraseMaius)
print(fraseMinus)
print(frase)

PYTHON É LEGAL DEMAIS!
python é legal demais!
Python é legal demais!

# Exercício

-  Calculadora de 3
    - Faça a soma de todos os valores
    - Faça a subtração de todos os valores
    - Faça a multiplicação de todos os valores
    - Faça a divisão de todos os valores